*{
    margin: 0;
    padding: 0;
}
.container{
    box-sizing: border-box;
    position: absolute;
    top: 180px;
    left: 640px;
    max-height: 80vh;
}

input[type="submit"]{
    position: absolute;
    left: 88px;
    padding: 8px;
    border-radius: 5px 5px;
    background-color: rgb(31, 31, 107);
    color: white;
}


