/* .event-container{
    position: absolute;
    top: 80px;
    left: 590px;
    background-color: lightgray;
}

button{
    margin: 8px;
    padding: 5px;
    border-radius: 5px 5px;
    background-color: blueviolet;
    color: white;
} */